<h1>My Lists</h1>
<%= link_to '+ Add Task List', task_list_new_path %>

<% flash.each do |type, msg| %>
  <p><span style="background-color: lightgreen; border: solid green 2px;"><%= msg %></span></p>
<% end %>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1 style="display: inline-block"><%= task_list.name %></h1> <a href="/task_list/<%= task_list.id %>/edit" style="display: inline-block">Edit</a>
  </section>

<% end %>
