<section class="task-list">

  <h1 style="display: inline-block"><%= @task_list.name %></h1>

</section>

<section class="task-box">
  <% if @task_list.tasks %>
    <% @task_list.tasks.each do |task| %>
      <% if task.completed %>
        <p class="task" style="display: inline-block"><%= task.description %> (<%= (task.due_date - Date.today).to_i %> days)</p>
        <div style="display: inline-block; position: relative; margin-left: -100px;">
          <%= button_to "Delete", {:controller => :tasks,
                                   :action => 'destroy',
                                   :id => task.id }, :method => :delete %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</section>