/*
 *= require_tree .
 *= require_self
 */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.ui-datepicker {
  background: lightblue;
}

.ui-datepicker-header {
  background: deepskyblue
}

header {
  background: navy;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

html, body {
  background: #efefef;
}

main {
  .container {
    background: white;
  }
}

.logo {
  float: left;
  font-weight: bold;
}

.logout {
  float: right;
}

.errors {
  color: maroon;
  margin-bottom: 1em;
}

.datepicker {
  background-color: whitesmoke;
}

.signin-form {
  width: 20em;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em auto;
  background: #efefef;

  > div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 6em;
  }

  input[type=submit] {
    margin-left: 6.3em;
  }
}

.task-list {
  padding: 1em;
  & + & {
    border-top: 1px solid darkblue;
  }

  h1 {
    font-size: 110%;
  }
}

#task-box {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px;
  width: 70%;
}

.task {
  margin: 10px 0px 0px 15px;
  padding: 1em;
  background-color: lightgrey;
  width: 70%;
}

.something {
  position: relative;
  top: 50px;
  left: 50px;
}

.something-2 {
  position: relative;
  top: -50px;
  left: -50px;
}

.something-3 {
  position: relative;
  top: 200px;
  left: 150px;
}

.something-4 {
  position: relative;
  top: 200px;
  right: 150px;
}

.hamster {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.hamster-fill {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 5s ease;
}

